 body {
    background-image: url("./kdh.png");
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover;
 }
 h1 {
            color: green;
            text-align: center;
            font-size: 72px;
        }

p {
    font-size: 24px;
    text-align: center;
}

.large {
    font-size: 48px;
    font-style: italic;
}

.orange {
    color: orange;
    font-weight: bolder;
}